table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

.top {
  border-top: solid 2px black;
}

.left {
  border-left: solid 2px black;
}

.bottom {
  border-bottom: solid 2px black;
}

.right {
  border-right: solid 2px black;
}
